{% extends "core/index.html" %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <h3 style="font-size: 10mm; font-family: monospace">
        Do you want to delete teacher "{{ teacher.first_name }} {{ teacher.last_name }}"?
    </h3>
    <button type="submit" class="btn btn-outline-danger" value="Delete">Delete</button>
  </form>
{% endblock %}