{% extends "core/index.html" %}

{% block content %}
    <h1 style="font-size: 40mm; color: blue; font-family: fantasy">404 Error</h1>
    <h2 style="font-size: 10mm; font-family: monospace">Page not found!</h2>
{% endblock %}