{% load static %}

<!doctype html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.108.0">
    <title>Django LMS</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/cover/">




    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="{% static "css/cover.css" %}" rel="stylesheet">
  </head>
  <body class="d-flex h-100 text-center text-bg-dark">

    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0"><a class="nav-link fw-bold py-1 px-0" aria-current="page" href={% url "index" %}>Django LMS</a></h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link fw-bold py-1 px-0" style="margin-right: 3mm; color: white; font-size: 5mm" href={% url "groups:groups_list" %}>Groups</a>
            <a class="nav-link fw-bold py-1 px-0" style="margin-right: 3mm; color: white; font-size: 5mm" href={% url "students:students_list" %}>Students</a>
            <a class="nav-link fw-bold py-1 px-0" style="margin-right: 3mm; color: white; font-size: 5mm" href={% url "teachers:teachers_list" %}>Teachers</a>
            <div class="dropdown text-center">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
                {% if user.avatar %}
                  <img src="{{ user.avatar.url }}" class="rounded-circle" width="32" height="32" style="object-fit: cover" alt="menu">
                {% else %}
                  <img src="https://ps.w.org/user-avatar-reloaded/assets/icon-128x128.png" alt="menu" width="32" height="32" class="rounded-circle">
                {% endif %}
              </a>
              <ul class="dropdown-menu text-small" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 34.4px, 0px);" data-popper-placement="bottom-start">
                {% if user.is_authenticated %}
                  <li><p class="dropdown-item-text">{{ user.username }}</p></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url "user_profile" user.pk %}">Profile</a></li>
                  <li><a class="dropdown-item" href="#">Change password</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url "logout" %}">Logout</a></li>
                {% else %}
                  <li><a class="dropdown-item" href="{% url "login" %}">Login</a></li>
                  <li><a class="dropdown-item" href="{% url "registration" %}">Registration</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Change password</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url "social:begin" "github" %}">Login via GitHub</a></li>
                  <li><a class="dropdown-item" href="{% url "social:begin" "google-oauth2" %}">Login via Google</a></li>
                {% endif %}
              </ul>
            </div>
          </nav>
        </div>
      </header>
      <main class="px-3">
        {% block content %}
          <img src="{% static "media/core_media/lms-technologies-png.png" %}" class="img-thumbnail" alt="LMS image" />
          <h1>Learning Management System</h1>
          <p class="lead">Keep control of your course.</p>
          <p class="lead">
          <a href="https://en.wikipedia.org/wiki/Learning_management_system" class="btn btn-lg btn-light fw-bold border-white bg-white">Learn more</a>
          </p>
          {% endblock %}
      </main>

      <footer class="mt-auto text-white-50">
        <hr>
        <p>Django LMS [ <a href="https://gitlab.com/igorsamarsky/lms_2022" class="text-white">Code</a> ], by <a href="https://instagram.com/_igor_samara_" class="text-white">Ihor Samarskyi</a>.</p>
      </footer>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
