{% extends "core/index.html" %}


{% block content %}
    <div style="font-family: fantasy; letter-spacing: 1px;">
        <img src="{{ customer.avatar.url }}" class="rounded-circle"
             style="height: 5em; width: 5em; object-fit: cover" alt="avatar">
        <h2>Username: {{ customer.username }};</h2>
        <h4>Name: {{ customer.first_name }};</h4>
        <h4>Surname: {{ customer.last_name }};</h4>
        <h4>Email: {{ customer.email }};</h4>
        <h4>Phone Number: {{ customer.phone_number }};</h4>
        <h4>Country: {{ customer.location }};</h4>
        <h4>Birth Date: {{ customer.birth_date }};</h4>
        <h4>Sex: {{ customer.sex }};</h4>
        <h4>Status: {{ customer.status }};</h4>
    </div>
{% endblock %}