{% extends "core/index.html" %}
{% load crispy_forms_filters %}


{% block content %}
  <div>
    <form method="POST" style="width: 65mm; align-content: center; margin: auto">
      {% csrf_token %}
      {{ form|crispy }}
      <br>
      <button type="submit" class="btn btn-primary" value="Create">Create</button>
    </form>
  </div>
{% endblock %}