{% extends "core/index.html" %}

{% block content %}
  <form>
    {% csrf_token %}
    <div class="input-group mb-3" style="width: 100mm">
      <span class="input-group-text" id="inputGroup-sizing-default" style="background: #3A3B3C; color: white">Title:</span>
      <input type="text" id="title" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div class="input-group mb-3" style="width: 100mm">
      <span class="input-group-text" id="inputGroup-sizing-default" style="background: #3A3B3C; color: white">Search Text:</span>
      <input type="text" id="search_text" name="search_text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>
    <div style="width: 100mm">
      <button type="submit" value="Submit" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"></path>
        </svg>
        Search
      </button>
    </div>
  </form>

  <div style="align-content: start">
    <a type="button" class="btn btn-outline-info"
       href={% url "groups:create_group" %}><b>Add Group</b></a>
  </div>
  <hr>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Department</th>
        <th scope="col">Students Count</th>
        <th scope="col">GPA</th>
        <th scope="col">Median Age</th>
        <th scope="col">Start Date</th>
        <th scope="col">Update</th>
        <th scope="col">Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for group in group_list %}
        <tr>
          <th scope="row">{{ group.title }}</th>
          <td>{{ group.department }}</td>
          <td>{{ group.students_count }}</td>
          <td>{{ group.gpa }}</td>
          <td>{{ group.median_age }}</td>
          <td>{{ group.start_date }}</td>
          <td>
            <a type="button" class="btn btn-outline-warning"
               href={% url "groups:update_group" group.uuid %}><b>Edit</b></a>
          </td>
          <td>
            <a type="button" class="btn btn-outline-danger"
               href={% url "groups:delete_group" group.uuid %}><b>Delete</b></a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}