{% extends "core/index.html" %}

{% block content %}
  <div style="font-family: fantasy; letter-spacing: 1px">
    <h1>Group Info:</h1>
    <h3>Title: {{ group.title }};</h3>
    <h3>Department: {{ group.department }};</h3>
    <h3>Count of students: {{ group.students_count }};</h3>
    <h3>GPA: {{ group.gpa }};</h3>
    <h3>Median age of students: {{ group.median_age }};</h3>
    <h3>Start date: {{ group.start_date }};</h3>
    <h3>
      Teachers:
      {% for teacher in group.teachers.all %}
        {{ teacher.first_name }} {{ teacher.last_name }};
      {% endfor %}c
    </h3>
    <h3>
        Students:
        {% for student in group.students.all %}
            {{ student.first_name }} {{ student.last_name }};
        {% endfor %}
    </h3>
  </div>
{% endblock %}